h1.title= title
if sourceUrl
	p.subtitle#preview-source source: 
		a(href=sourceUrl)= sourceUrl
else
	p.is-hidden#preview-source source: #[a]
p.subtitle.has-text-weight-bold posted by: 
	a(href=paths.users(poster))= poster.fullName
	if createdAt
		span.duration-ago.has-text-weight-semibold.is-italic.is-size-6.has-text-grey #{moment(createdAt).fromNow()} (#{moment(createdAt).format('LLLL')})

if imageSourceArray && imageSourceArray.length
	.news-image-container.container.is-flex-desktop
		div.level
			div.level-item
				img.image(src=imageSourceArray[0])
			if imageSourceArray.length > 1
				div.level-item
					img.image(src=imageSourceArray[1])
	if imageSourceArray.length > 2
		.level
			a.level-item(href="#") #{imageSourceArray.length - 2} more image(s)
.content.
	!{markedupContent}