extends ../layout.pug

block title
	title= helpers.buildTitle(user.fullName)
block hero
	.hero.is-dark
		.hero-body
			h1.title Profile of #[b #{user.fullName}]
block content
	if user.equals(currentUser)
		a.is-size-5.has-text-weight-bold(href=paths.userEdit(user)) Edit
	.details
		ul.big-list
			li
				h2.title.is-3 Full Names
				if user.fullNameList.length
					ul
						each name in user.fullNameList
							li= name
				else
					p none
			li
				h2.title.is-3 Email
				p= user.email || 'none'
			li
				h2.title.is-3 Info
				.box
					p= user.info || '-'

