extends ../layout.pug


block title
	title= helpers.buildTitle('Business Cards')
block hero
	.hero.is-dark
		.hero-body
			h1.title Business Cards
block content
	mixin configForm(map, path)
		form(method="POST" action=paths.businessCardsConfig()+(path||''))
			each value, key in map
				input(type="hidden" name=key value=value)
			block
	.level.is-mobile
		.level-left
			a.button.is-info.level-item(href=paths.newBusinessCard())
					span.icon
						i.fas.fa-plus
					span Add Business Card
			a.button.is-info.level-item(href=paths.businessCardsImport())
					span.icon
						i.fas.fa-file-alt
					span Import
		.level-right
			.dropdown.level-item
				.dropdown-trigger(onclick="this.parentNode.classList.toggle('is-active')")
					button.button
						span.is-capitalized= preferLang
						span.icon.is-small
							i.fas.fa-angle-down
				.dropdown-menu
					.dropdown-content
						each language in languageList
							if language !== preferLang
								+configForm({'preferLanguage': language})
									a.dropdown-item.is-capitalized(onclick="this.parentNode.submit();")= language
	form(method="POST" action=paths.businessCardsConfig() + 'addfilter')
		.field.has-addons
			.control.has-icons-left
				input.input#filter-input(name="text" type="text" placeholder="filter by tags" data-target=paths.businessCardsTags() autocomplete="off").autocomplete
				.autocomplete-items.is-hidden
				span.icon.is-left.is-medium
					i.fas.fa-tags.fa-lg
			.control
				button.button#add-filter
					span.icon
						i.fas.fa-plus
	mixin filterTag(value, index, checkbox)
		.control
			.tags.has-addons
				span.tag.is-info.is-medium(style="cursor: pointer;" )
					if checkbox
						input.checkbox.or-group(type="checkbox" name=index style="margin-right: 1em;")
					span= value
				+configForm({ index }, 'removefilter')
					a(onclick="this.parentNode.submit();").tag.is-delete.is-medium
	mixin orFilterTag(value, index, subindex)
		.control
			.tags.has-addons
				span.tag.is-info.is-medium(style="cursor: pointer;" )
					span= value
				+configForm({ or: 'true', index, subindex }, 'removefilter')
					a(onclick="this.parentNode.submit();").tag.is-delete.is-medium
	form(action=paths.businessCardsConfig()+'formorgroup' method="POST" style="margin: 1em 0;")
		div
			.field.is-grouped.is-grouped-multiline(style="align-items: baseline")
				form
				if filter
					if filter.single && filter.single.length
						if filter.single.length >= 2
							each single, index in filter.single
								+filterTag(single, index, true)
						else
							+filterTag(filter.single[0], 0)
					if filter.or && filter.or.length
						.field.is-grouped.is-grouped-multiline(style="align-items: baseline")
							each group, idx in filter.or
								each item, subidx in group.slice(0, -1)
									+orFilterTag(item, idx, subidx)
									.control
										span.tag.is-dark OR
								+orFilterTag(group.slice(-1), idx, group.length-1)
			if filter && filter.single && filter.single.length >= 2
				.field
					.control
						input.button.is-link#or-button(type="submit" value="form 'OR' group" disabled)
	.levels
		.level-left
			form.level-item(method="POST" action=paths.businessCardsBasket())
				input(type="hidden" name="all" value="true")
				a.button(onclick="this.parentNode.submit()") Save All
			a.level-item.button(href=paths.businessCardsBasket()) Saved Cards
	table.table.is-fullwidth.is-hoverable.is-bordered.is-striped
		thead
			tr
				mixin sortingHeader(path, text, bottom, right)
					- const sort = sortBy === path && direction;
					th= text
						.dropdown.is-pulled-right(class=`${bottom ? 'is-up' : ''} ${right ? 'is-right' : ''}`)
							.dropdown-trigger(onclick="this.parentNode.classList.toggle('is-active')" style="cursor: pointer;")
								span.icon
									if sort
										if sort === 'asc'
											i.fas.fa-sort-up
										else
											i.fas.fa-sort-down
									else
										i.fas.fa-sort
							.dropdown-menu
								.dropdown-content
									+configForm({sort:path, direction:'asc'}, 'ascending')
										a.dropdown-item(onclick="this.parentNode.submit();") ascending
									+configForm({sort:path, direction:'desc'}, 'descending')
										a.dropdown-item(onclick="this.parentNode.submit();") descending
									.dropdown-divider
									+configForm({sort:'', direction:''}, 'no sorting')
										a.dropdown-item(onclick="this.parentNode.submit();") no sorting
				th
					input.checkbox.check-this-page(type="checkbox" style="zoom: 1.25" data-post=paths.businessCardsBasket())
				+sortingHeader('fullName', 'Full Name')
				+sortingHeader('companyName', 'Company', false, true)
				th Tags
		tbody
			each card in cardList
				tr(onclick=`window.location.href="${paths.businessCards(card)}"` style="cursor: pointer;")
					td
						.control
							if basket.includes(card._id.toString())
								input.checkbox.select-card(type="checkbox" data-post=paths.businessCardsBasket() data-id=card._id checked style="zoom: 1.25")
							else
								input.checkbox.select-card(type="checkbox" data-post=paths.businessCardsBasket() data-id=card._id style="zoom: 1.25")
					td= card.fullName.prefer(preferLang, '-')
					td= card.companyName.prefer(preferLang, '-')
					td
						.tags
							each tag in card.tagList.slice(0, 7)
								.tag.is-info= tag
		tfoot
			tr
				th
					input.checkbox.check-this-page(type="checkbox" style="zoom: 1.25" data-post=paths.businessCardsBasket())
				+sortingHeader('fullName', 'Full Name', true)
				+sortingHeader('companyName', 'Company', true, true)
				th Tags
	script.
		const selectBoxList = document.querySelectorAll('.select-card');
		selectBoxList.forEach((elem) => {
			elem.addEventListener('click', onSelectBoxClick);
		});

		function onSelectBoxClick(e) {
			e.stopPropagation();
			e.preventDefault();
			if (this.checked) {
				basketQuery.call(this, [this.dataset.id], true);
			} else {
				basketQuery.call(this, [this.dataset.id]);
			}
		}

		const pageSelectBoxList = document.querySelectorAll('.check-this-page');
		pageSelectBoxList.forEach((elem) => {
			elem.addEventListener('click', onPageSelectBoxClick);
		});

		function onPageSelectBoxClick(e) {
			e.stopPropagation();
			e.preventDefault();
			if (this.checked) {
				basketQuery.call(this, getIdList(selectBoxList), true)
					.then(() => {
						selectBoxList.forEach((elem) => {
							elem.checked = true;
						});
						pageSelectBoxList.forEach((elem) => {
							elem.checked = true;
						});
					})
			} else {
				basketQuery.call(this, getIdList(selectBoxList))
					.then(() => {
						selectBoxList.forEach((elem) => {
							elem.checked = false;
						});
						pageSelectBoxList.forEach((elem) => {
							elem.checked = false;
						});
					})
			}
		}

		function basketQuery(idList, isPost) {
			return fetch(this.dataset.post, {
				credentials: 'same-origin',
				method: isPost ? 'POST' : 'DELETE',
				headers: {
					'content-type': 'application/json',
				},
				body: JSON.stringify({ idList }),
			})
				.then((res) => {
					if (res.ok) {
						this.checked = !!isPost;
						return;
					} else {
						return (new Error(res));
					}
				});
		}

		function getIdList(checkboxList) {
			return Array.prototype.map.call(checkboxList, i => i.dataset.id);
		}
	script.
		const filterInput = document.querySelector('#filter-input');
		const autocomplete = document.querySelector('.autocomplete-items');
		filterInput.addEventListener('input', (e) => {
			const value = filterInput.value;
			if(!value) {
				autocomplete.classList.add('is-hidden');
				return;
			}
			fetch(new URL(`${filterInput.dataset.target}?search=${value}`, window.location.href), {
				credentials: 'same-origin',
			})
				.then((res) => {
					return res.json();
				})
				.then((list) => {
					autocomplete.innerHTML = '';
					list.slice(0,4).forEach((tag) => {
						const div = document.createElement('div');
						div.innerHTML = `<span>${tag}</span`
						autocomplete.appendChild(div);
						div.addEventListener('click', onSelectAutocomplete.bind(null, tag));
					});
					autocomplete.classList.remove('is-hidden');
				})
				.catch((err) => {
					console.log(err);
				})
		});

		function onSelectAutocomplete(tag) {
			filterInput.value = tag;
			autocomplete.innerHTML = '';
		}

		filterInput.addEventListener('keydown', (e) => {
			if(e.keyCode == 40) {
				// DOWN key
				const currentDiv = autocomplete.querySelector('.autocomplete-active');
				if (currentDiv) {
					currentDiv.classList.remove('autocomplete-active');
					if (currentDiv.nextSibling) {
						currentDiv.nextSibling.classList.add('autocomplete-active')
					}
				} else {
					autocomplete.childNodes[0].classList.add('autocomplete-active')
				}
			}
			if(e.keyCode == 38) {
				// UP key
				const currentDiv = autocomplete.querySelector('.autocomplete-active');
				if (currentDiv) {
					currentDiv.classList.remove('autocomplete-active');
					if (currentDiv.previousSibling) {
						currentDiv.previousSibling.classList.add('autocomplete-active')
					}
				} else {
					autocomplete.childNodes[autocomplete.childNodes.length-1].classList.add('autocomplete-active')
				}
			}
			if(e.keyCode == 13) {
				// ENTER key
				e.preventDefault();
				const currentDiv = autocomplete.querySelector('.autocomplete-active');
				if(!currentDiv) {
					document.querySelector('#add-filter').dispatchEvent(new Event('click'))
				} else {
					currentDiv.dispatchEvent(new Event('click'))
				}
			}
			if(e.keyCode == 27) {
				// ESC key
				autocomplete.innerHTML = '';
			}
		});

		document.addEventListener('click', (e) => {
			autocomplete.innerHTML = '';
		})

		let checkCount = 0;

		const orGroupCheckbox = document.querySelectorAll('input.or-group');
		orGroupCheckbox.forEach((checkbox) => {
			checkbox.addEventListener('click', (e) => {
				e.stopPropagation();
				if (checkbox.checked) {
					checkCount++;
				} else {
					checkCount--;
				}
				if (checkCount >= 2) {
					document.querySelector('#or-button').disabled = false
				}
				else {
					document.querySelector('#or-button').disabled = true
				}
			})

			checkbox.parentNode.addEventListener('click', (e) => {
				e.stopPropagation();
				e.preventDefault();
				checkbox.checked = !checkbox.checked;
				if (checkbox.checked) {
					checkCount++;
				} else {
					checkCount--;
				}
				if (checkCount >= 2) {
					document.querySelector('#or-button').disabled = false
				}
				else {
					document.querySelector('#or-button').disabled = true
				}
			})
		})

block after-content
	include ../partials/pagination.pug
