extends ../layout.pug

block title
	title= buildTitle('Adding Business Card')
block hero
	.hero.is-dark
		.hero-body
			h1.title Adding Business Card
block content
	form(action=paths.businessCards(), method="post")
		.tabs.is-boxed(style="margin-bottom: 0; padding-bottom: 0;" data-group='language')
			ul
				li(data-target=languageList[0]).is-active
					a= languageList[0]
				each language in languageList.slice(1)
					li(data-target=language)
						a= language
		.box
			mixin multiLangFields(language, hidden)
				div.group-language(class=`target-${language} ${(hidden ? 'is-hidden' : '')}`)
					.field.columns
						.column(style="padding-bottom: 0")
							label.label Full Name
							.control
								input.input(type="text" name=`${language}-fullName`)
						.column(style="padding-bottom: 0")
							label.label Position
							.control
								input.input(type="text" name=`${language}-position`)
					.field
						label.label Company's Name
						.control
							input.input(type="text" name=`${language}-companyName`)
					.field
						label.label Company's Location
						.control
							input.input(type="text" name=`${language}-companyLocation`)
			+multiLangFields(languageList[0])
			each language in languageList.slice(1)
				+multiLangFields(language, true)
		.field.columns
			.column(style="padding-bottom: 0")
				label.label Telephone No.
				.control
					input.input(type="tel" name="phone")
			.column(style="padding-bottom: 0")
				label.label Mobile No.
				.control
					input.input(type="tel" name="mobile")
			.column(style="padding-bottom: 0")
				label.label Fax No.
				.control
					input.input(type="tel" name="fax")
		.filed.columns
			.column(style="padding-bottom: 0")
				label.label Email
				.control
					input.input(type="email" name="email")
			.column(style="padding-bottom: 0")
				label.label Website
				.control
					input.input(type="text" name="website")
		.field
			.control
				input.button.is-primary(type="submit")
