extends ../layout.pug

block title
	title= helpers.buildTitle(card.companyName.prefer('english', ''))
block hero
	.hero.is-dark
		.hero-body
			h1.title= card.companyName.prefer('english')
mixin field(label, data)
	label= label
	p.is-size-4= data || '-'
block content
	a.button.is-info(href=paths.editBusinessCard(card) style="margin-bottom: 6px")
			span.icon
				i.far.fa-edit
			span Edit
	.content
		.box
			label Tags:
			.tags
				if card.tagList.length
					each tag in card.tagList
						.tag.is-info.is-medium= tag
				else
					p.is-size-4 -
			.columns
				.column
					+field('Telephone', card.phone)
				.column
					+field('Mobile', card.mobile)
				.column
					+field('Fax', card.fax)
		each language in card.languageList()
			.box
				.columns
					.column
						+field('Name of Card\'s Owner', card.fullName[language])
					.column
						+field('Position', card.position[language])
				br
				+field('Company Name', card.companyName[language])
				+field('Address', card.companyLocation[language])
