extends ../layout.pug

block hero
	.hero.is-dark
		.hero-body
			h1.title News
block content
	a.button.is-primary(href=paths.newNews() style="width: 100%; height: 50px; margin: 6px 0;") Add News
	ul
		each news in newsList
			li.media
				.media-content
					h3.title.is-4(style="padding-top: 5px")
						a.has-text-dark(href=paths.news(news)) #{news.title}
					p.subtitle.is-6(style="margin-bottom: 10px")
						a.has-text-grey(href=news.sourceUrl)= news.sourceUrl
					p #{news.markedupContent.slice(0, 250).replace(/<\/?.>/, '')}...
					p.has-text-weight-bold(style="margin-top: 5px") posted by: #[a(href=paths.users(news.poster))= news.poster.fullName]
						span.duration-ago.is-size-6.has-text-grey #[b #{moment(news.createdAt).fromNow()}] (#{moment(news.createdAt).format('LLLL')})
block after-content
	section.section
		.container
			nav.pagination.is-centered
				if currentPage > 1
					a.pagination-previous(href=`?page=${currentPage-1}`) <
				else
					a.pagination-previous(href=`?page=${currentPage-1}` disabled) <
				ul.pagination-list
					- const padding = 3
					//- first page
					li
						if currentPage == 1
							a.is-current.pagination-link(href='?page=1')= 1
						else
							a.pagination-link(href='?page=1')= 1
					//- need ellipsis?
					if currentPage - padding > 2
						li
							span.pagination-ellipsis ...
					//- middle
					- var page
					if currentPage - padding < 2
						- page = 2
					else
						- page = currentPage - padding
					while (page <= (currentPage + padding) && page < pageCount)
						li
							if page == currentPage
								a.is-current.pagination-link(href=`?page=${page}`)= page
								- page = page + 1
							else
								a.pagination-link(href=`?page=${page}`)= page
								- page = page + 1
					//- need ellipsis?
					if currentPage + padding < pageCount - 1
						li
							span.pagination-ellipsis ...
					//- last page
					li
						if currentPage == pageCount
							a.is-current.pagination-link(href=`?page=${pageCount}`)= pageCount
						else
							a.pagination-link(href=`?page=${pageCount}`)= pageCount
				if currentPage < pageCount
					a.is-right.pagination-next(href=`?page=${currentPage+1}`) >
				else
					a.is-right.pagination-next(href=`?page=${currentPage+1}` disabled) >
