extends ../layout.pug

block title
	title= helpers.buildTitle('News')
block hero
	.hero.is-dark
		.hero-body
			h1.title News
block content
	form
		.field.has-addons
			.control
				input.input#search-input(type="text" placeholder="keyword" name="search" value=search)
			.control
				input.button.is-link(type="submit" value="Search")
	a.button.is-info(href=paths.newNews() style="margin: 6px 0;")
		span.icon
			i.fas.fa-plus
		span Add News
	ul
		each news in newsList
			li.media
				.media-content
					h3.title.is-4(style="padding-top: 5px")
						a.has-text-dark(href=paths.news(news)) #{news.title}
					p.subtitle.is-6(style="margin-bottom: 10px")
						a.has-text-grey(href=news.sourceUrl)= news.sourceUrl
					p #{news.markedupContent.slice(0, 400).replace(/<\/?.+?>/g, '').slice(0, 250)}...
					p.has-text-weight-bold(style="margin-top: 5px") posted by: #[a(href=paths.users(news.poster))= news.poster.fullName]
						span.duration-ago.is-size-6.has-text-grey #[b #{helpers.moment(news.createdAt).fromNow()}] (#{helpers.moment(news.createdAt).format('LLLL')})
block after-content
	include ../partials/pagination.pug
