extends ../layout.pug

block hero
	.hero.is-dark
		.hero-body
			h1.title News
block content
	a.button.is-primary(href=paths.newNews() style="width: 100%; height: 50px; margin: 6px 0;")
		span.icon
			i.fas.fa-plus
		span Add News
	ul
		each news in newsList
			li.media
				.media-content
					h3.title.is-4(style="padding-top: 5px")
						a.has-text-dark(href=paths.news(news)) #{news.title}
					p.subtitle.is-6(style="margin-bottom: 10px")
						a.has-text-grey(href=news.sourceUrl)= news.sourceUrl
					p #{news.markedupContent.slice(0, 250).replace(/<\/?.>/, '')}...
					p.has-text-weight-bold(style="margin-top: 5px") posted by: #[a(href=paths.users(news.poster))= news.poster.fullName]
						span.duration-ago.is-size-6.has-text-grey #[b #{moment(news.createdAt).fromNow()}] (#{moment(news.createdAt).format('LLLL')})
block after-content
	include ../partials/pagination.pug
