extends ../layout.pug

block hero
	.hero.is-dark
		.hero-body
			h1.title News
block content
	ul
		each news in newsList
			li.media
				.media-content
					h3.title.is-4
						a.has-text-dark(href=paths.news(news)) #{news.title}
					p.subtitle.is-6(style="margin-bottom: 10px")
						a.has-text-grey(href=news.sourceUrl)= news.sourceUrl
					p #{news.markedupContent.slice(0, 250).replace(/<\/?.>/, '')}...
					p.has-text-weight-bold(style="margin-top: 5px") posted by: #[a(href=paths.users(news.poster))= news.poster.fullName]
						span.duration-ago.is-size-6.has-text-grey #[b #{moment(news.postedAt).fromNow()}] (#{moment(news.postedAt).format('LLLL')})
